<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

  <div id="survey">
     <div class="bg-light" id="survey">
    <main class="container py-5">
      <div class="row py-5">
        <div class="offset-md-1 col-md-11">
          <form class = "form" method="POST" >
            <label for="nameTextField">Survey name: </label><input type="text" name = "name" value = "<%= survey.name %>"></input>
            <table class="table table-bordered table-striped table-hover">
              <!--Header row-->
              <tr class="d-flex">
                <th class="text-center col-7"> Question </th>
                <th class="text-center col-5"> Choices </th>
              </tr>
              <!--Repeatable Template Row-->
              <% for(let count=0; count < survey.questions.length; count++){ %>
                <% if (survey.choices[count] == null){ continue; }%>
                <tr class="d-flex">
                  <td class="text-center col-7"><input type="text" name="questions" value = "<%= survey.questions[count]%>"> 
                    <%if (count == survey.questions.length - 1){ %>
                    <button class="btn btn-danger btn-sm" id = "btnDeleteQuestion" type="button" > <i class="fas fa-trash"></i> Delete question</button>
                    <%} %>
                  </td>
                  <td class="text-left col-5">
                      <ul>
                          <% for (let i = 0; i < survey.choices[count].length; i++) { %>
                          <li>
                              <input type="text" name="choices<%= count %>" value = "<%= survey.choices[count][i]%>">
                              <button class="btn btn-danger btn-sm" id = "btnDeleteChoice" type="button" > <i class="fas fa-trash" ></i> Delete choice</button>
                          </li>
                          <% } %>
                          <button class="btn btn-primary" id = "btnAddchoices" type="button" > <i class="fas fa-plus"></i> Add choice</button>
                      </ul>
                  </td>
                </tr>
              <% } %>
               <tr class="d-flex">
                <td class="text-center col-7"><button class="btn btn-primary" id = "btnAddQuestion" type="button" > <i class="fas fa-plus"></i> Add Question</button></td>
                <td class="text-left col-5"></td>
               </tr> 
            </table>
            <button class="btn btn-primary" type = "submit">
                  <i class="fas fa-edit"></i> Submit</button>
                  <a href="/survey-list" class="btn btn-warning fas fa-undo">Cancel</a>
          </form>  
        </div>
      </div>
  </main>


<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>